<% layout('./layout/page.ejs') %>

<!-- <h2><%= error.status %></h2> -->
<div class="error_page">
  <img src="<%= picture %>" alt="error 404" class="error_img">
  <h1><%= title %><br><%= message %></h1> 
  <pre><%= error.stack %></pre>
</div>
